#upload {
  background-color: $light-purple;
  color: $dark-purple;
  padding: 15px;
  margin-bottom: 2rem;
}

/* purgecss start ignore */
.photo-with-caption {
  margin: 0px;
}

.photo-with-caption picture,
.photo-with-caption img {
  margin: 0px;
}

.photo-with-caption figcaption {
  background: $light-gray;
  padding: 1rem 2rem;
  color: $gray;
}

/* for mobile screens */
.blog-container {
  padding-top: 12rem;
}

/* for everything bigger than mobile */
@media #{$breakpoint-not-small} {
  .blog-container {
    padding-top: 8rem;
  }
}
/* purgecss end ignore */