// ============================================================
// Flash Alerts
// ============================================================

.flash
  text-align: center

  &.-notice
    background: $light-yellow

  &.-error
    background: $light-red
