// ============================================================
// Base Variables
// ============================================================

// ------------------------------------------------------------
// Colors
// ------------------------------------------------------------

$light-gray:   #ccccca
$medium-gray:  #a8a7a0
$gray:         #919191
$dark-gray:    #3a3a3c

$blue:         #4ec3c5
$dark-blue:    #4686aa

$red:          #ff645c
$light-red:    #fbe3e4
$pink:         #d081ba

$dark-purple:  #7c5cd1
$purple:       #bf9de0
$light-purple: #f9f2ff

$orange:       #f1a950
$yellow:       #f2d560
$light-yellow: #fff6bf

$green:        #60be8d
$light-green:  #a1d970

$off-white:    #faf9f8
$white:        #ffffff

// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------

// Font Family
@import 'https://fonts.googleapis.com/css?family=Anonymous+Pro:500,500i,700,700i'
$sans-serif: sofia-pro, "Helvetica Neue", Helvetica, Arial, sans-serif
$serif: Georgia, Times, "Times New Roman", serif
$monospace: "Anonymous Pro", monospace

// Font Size
$base-font-size: rem(16)

// Font Weights
$regular: 500
$bold: 700

// ------------------------------------------------------------
// Links & Buttons
// ------------------------------------------------------------

// Link Colors
$link-color: $red
$link-hover-color: $red

// Button Colors
$button-color: transparent
$button-text-color: $red
$button-hover-color: $red
$button-hover-text-color: $white



// ------------------------------------------------------------
// Spacing
// ------------------------------------------------------------

// Container
$max-width: rem(1400)

// Page Margin
$page-margin: rem(15)
$page-margin-medium: rem(30)
$page-margin-large: rem(60)

// Block
$block-margin: 10%

// Grid
$grid-gutter: rem(45)


// ------------------------------------------------------------
// Border
// ------------------------------------------------------------

$border: rem(1) solid $light-gray
$border-radius: rem(2)