---
layout: default
title: Demos
---

{% include page-header.liquid title="Demos" %}

<div class="{% include tachyons-container.liquid %}">
  <div class="flex-l flex-row">

    <div class="subnav w5 mr4 mb5 flex-none">
      <nav id="sticky" class="is-active">
        <ul class="list pl0 ma0 bt bw1 b--light-gray pt4">
          <li class="mb3"><a href="#demo-easy-avatar">Upload an avatar</a></li>
          <li class="mb3"><a href="#demo-fancy-avatar">Another avatar upload approach</a></li>
          <li class="mb3"><a href="#demo-forms">Form Elements</a></li>
          <li class="mb3"><a href="#demo-multiple-files">Multiple Files</a></li>
          <li class="mb3"><a href="#demo-upload-webhook">Upload Event Webhook</a></li>
        </ul>
      </nav>
    </div>

    <div class="w-auto mb6">
      <div class="nested-copy-line-height nested-headline-line-height nested-img nested-copy-colors">

        <div class="content-demo-container" id="demo-easy-avatar">

          <div class="pv2 ph4 bg-light-purple">
            <p>
              Note that the Codepen demos pull in only 3 dependencies outside of the demo code:
            </p>
            <ol>
              <li><a href="https://js.shubox.io/v1/7e1e4069.js">The Shubox library</a></li>
              <li><a href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">Animate.css</a></li>
              <li><a href="http://shubox-codepen-io.s3.amazonaws.com/codepen.css">Shubox styles</a></li>
            </ol>
          </div>

          <h2 class="mt4">Upload single avatar</h2>
          <p>
            Using the default rendered <code>previewContainer</code> markup
            we can show the uploaded file contents as soon
            as it is entered, display the built-in progress bar, and a successful
            `√` or `X` when there's an error.
          </p>

          <p data-height="400"
             data-theme-id="dark"
             data-slug-hash="bgNKmR"
             data-default-tab="js,result"
             data-user="shubox"
             data-embed-version="2"
             data-pen-title="Simple avatar Upload with shubox.io"
             class="codepen">

            See the Pen <a href="http://codepen.io/shubox/pen/bgNKmR/">Simple avatar Upload with shubox.io</a>
            by Team Shubox (<a href="http://codepen.io/shubox">@shubox</a>) on <a href="http://codepen.io">CodePen</a>.
          </p>

        </div>
        <div class="content-demo-container" id="demo-fancy-avatar">

          <h2 class="mt4">Slightly Fancier Avatar Upload with Shubox</h2>

          <p>
            To achieve a slightly more fancy experience, we can turn off the
            `previewsContainer` setting and insert the resulting image
            ourselves with appropriate class names that will result in a
            flip-in effect using the animate.css library. In addition the
            progress of the upload can be customized based on the data
            attribute applied to the base element. This allows for control more
            finely tuned than an element that merrely changes the width
            property.
          </p>

          <p>
            The upload progress css, it should be noted, can be styled with a
            sass for loop that will change the display based on the percentage
            of completion.
          </p>

          <p data-height="400"
             data-theme-id="dark"
             data-slug-hash="dNPyQV"
             data-default-tab="js,result"
             data-user="shubox"
             data-embed-version="2"
             data-pen-title="Slightly fancier avatar upload with shubox.io"
             class="codepen">

            See the Pen <a href="http://codepen.io/shubox/pen/dNPyQV/">Slightly fancier avatar upload with shubox.io</a>
            by Team Shubox (<a href="http://codepen.io/shubox">@shubox</a>) on <a href="http://codepen.io">CodePen</a>.
          </p>
        </div>

        <div class="content-demo-area" id="demo-forms">
          <h2 class="mt4">Form Elements</h2>

          <p>
            Clicking into <code>&lt;input/&gt;</code>
            will trigger the upload dialog, will upload
            the file and replace the contents of the
            element.
          </p>

          <p>
            The <code>&lt;textarea/&gt;</code> will
            behave as usual unless you drag and drop
            images into the body of it. If you click the
            adjacent <code>&lt;div/&gt;</code> it will
            trigger the file dialog on behalf of the
            textarea. Successfully uploaded files will be
            appended to the end of the textarea as a markdown
            image tag.
          </p>

          <p>
            Note that if you are using Google Chrome <em>you are able to paste
            image data in your clipboard into the two form elements
            directly</em>.  Shubox will create a new file for you with that
            data and return
            the resulting URL.
          </p>

          <p data-height="400"
             data-theme-id="dark"
             data-slug-hash="bgNVGL"
             data-default-tab="js,result"
             data-user="shubox"
             data-embed-version="2"
             data-pen-title="Uploading in, and through, forms with shubox.io"
             class="codepen">

            See the Pen <a href="http://codepen.io/shubox/pen/bgNVGL/">Uploading in, and through, forms with shubox.io</a>
            by Team Shubox (<a href="http://codepen.io/shubox">@shubox</a>) on <a href="http://codepen.io">CodePen</a>.
          </p>
        </div>

        <div class="content-demo-area" id="demo-multiple-files">
          <h2 class="mt4">Multiple Files Uploading</h2>

          <p>
            By assigning the target `previewsContainer` to an adjacent div
            we can style and display the thumbnails along with their upload
            progress, and resulting success or failure state.
          </p>

          <p>
            Most of the work here is done in the stylesheet, with only the
            `previewContainer` being changed in the shubox initializer.
          </p>

          <p data-height="400"
             data-theme-id="dark"
             data-slug-hash="qRdddM"
             data-default-tab="js,result"
             data-user="shubox"
             data-embed-version="2"
             data-pen-title="Uploading multiple files"
             class="codepen">

            See the Pen <a href="http://codepen.io/shubox/pen/qRdddM/">Uploading multiple files</a>
            by Team Shubox (<a href="http://codepen.io/shubox">@shubox</a>) on <a href="http://codepen.io">CodePen</a>.
          </p>
        </div>

        <div class="content-demo-area" id="demo-upload-webhook"></div>

      </div>
    </div>
  </div>
</div>

<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>

<script>
fbq("track", "ViewContent", { page: "Demos" });
mixpanel.track("Viewed demos");
</script>