---
layout: default
title: Your Amazon S3 Toolbox - easily upload, transform, optimize, and convert files and images to Amazon S3
---

<div class="bg-near-white pt6 mb4 pt8-ns mb5-ns">
  <div class="tc">
    <h1 class="f2 f1-ns b dark-purple pt1 pt5-ns mb2 mt0">Buckets. Object Storage. The <em>easy</em> way.</h1>
    <p class="f4 f3-ns lh-copy purple mt0 mb4 pb3-ns">
      Everything you need from S3 without the hassle. Use your bucket in less than a minute.
    </p>
    <a href="https://dashboard.shubox.io/sign_up" class="btn -large mb5" id="sign-up-now">Sign Up Now</a>
    <img class="center db" src="/assets/home-hero.svg" width="960" height="320" alt="Home hero illustration.">
  </div>
</div>

<div class="pv4 tc">
  <h2 class="f3 f2-ns lh-title b dark-purple ph-6 mw6-ns center mb3"><em>Build</em>, not decipher the AWS console.</h2>
  <p class="f5 f4-ns lh-copy dark-purple center measure-narrow">Utilize all of these time-saving features within minutes.</p>
</div>

<div class="features-block">
  <div class="mw6-m center pb6 flex flex-wrap">

    <div class="w-50-l pa3 mb3 mb4-ns mb4-ns">
      <h2 class="f4 b dark-purple mb2">Immediate Setup</h2>
      <p class="silver lh-copy mt0">Pick your plan. Choose your region. Choose public or private files. Create your bucket. Secret and key ready to go. Connect in seconds.</p>
    </div>

    <div class="w-50-l pa3 mb3 mb4-ns mb4-ns">
      <h2 class="f4 b dark-purple mb2">Direct Uploads</h2>
      <p class="silver lh-copy mt0">From the web, to your bucket. Handle user-supplied files in your web app with our open-source JavaScript SDK. We've done the hard work for you.</p>
    </div>

    <div class="w-50-l pa3 mb3 mb4-ns">
      <h2 class="f4 b dark-purple mb2">Credential Rotation</h2>
      <p class="silver lh-copy mt0">Keep your bucket secure with keys and secrets that rotate every 90 days, <strong>or</strong> when you need to.</p>
    </div>

    <div class="w-50-l pa3 mb3 mb4-ns">
      <h2 class="f4 b dark-purple mb2">Bring Your Own Bucket</h2>
      <p class="silver lh-copy mt0">Have your own bucket? Cool! Set it up in your Shubox dashboard and use all our tools - for free.</p>
    </div>

    <div class="w-50-l pa3 mb3 mb4-ns">
      <h2 class="f4 b dark-purple mb2">Webcam (Photo &amp; Video) Support</h2>
      <p class="silver lh-copy mt0">Our JS SDK will allow you to take photos or record videos! The files are immediately stored in your bucket.</p>
    </div>

    <div class="w-50-l pa3 mb3 mb4-ns">
      <h2 class="f4 b dark-purple mb2">Webhooks</h2>
      <p class="silver lh-copy mt0">Shubox can send you detailed information about your uploads: file size, dimensions, orientation, and much more.</p>
    </div>

  </div>
</div>

<div class="bg-dark-purple tc pv4 pv6-ns mb0 mb4-ns">
  <div class="pv5">
    <svg class="quotemark w3 h3">
      <use xlink:href="#quote"></use>
    </svg>
    <p class="f3 white lh-copy b measure center">
      Shubox is a super easy way to upload files to S3. I love that I didn't have to build in file management into my app and I could just focus on what was important to my customers.
    </p>
    <p class="purple lh-copy">
      <strong>Nick Gauthier</strong><br/> Founder, <a class="purple" href="https://www.meetspaceapp.com/" rel="noreferrer" target="_blank">MeetSpace</a>
    </p>
  </div>
</div>

<div class="mw8 center ph3 ph4-ns">
  {% include plans.liquid %}
</div>

{% include sign-up.liquid %}

<script>
document
  .querySelector(".main-nav a[href='/pricing']")
  .addEventListener("click", function(e){
    e.preventDefault()
    window.location.href = "#plans-pricing"
  })
</script>
