---
layout: default
title: Your Amazon S3 Toolbox - easily upload, transform, optimize, and convert files and images to Amazon S3
---

<div class="mt-20 bg-shubox-near-white px-4 pt-12 text-center">
  <h1 class="mb-2 mt-0 text-4xl font-bold text-shubox-dark-purple">
    Buckets. Object Storage. The <em>easy</em> way.
  </h1>

  <p class="mb-8 mt-0 text-lg text-shubox-purple">
    Everything you need from S3 without the hassle. Use your bucket in less than a minute.
  </p>

  <p class="mb-24">
    <a href="https://dashboard.shubox.io/sign_up" class="inline-block rounded-full border-4 border-shubox-red px-10 py-3 font-bold text-shubox-red hover:bg-shubox-red hover:text-white" id="sign-up-now">Sign Up Now</a>
  </p>

  <img class="mx-auto block" src="/assets/images/home-hero.svg" width="960" height="320" alt="Home hero illustration.">
</div>

<div class="mx-auto px-4 py-20 text-center md:max-w-md md:py-24">
  <h2 class="mb-3 px-6 text-center text-xl font-bold text-shubox-dark-purple md:text-3xl md:leading-10">
    <em>Build</em>, not decipher the AWS console.
  </h2>
  <p class="text-center text-sm leading-6 text-shubox-dark-purple md:text-lg">Utilize all of these time-saving features within minutes.</p>
</div>

<div class="mx-auto max-w-5xl px-4 text-center" id="features-block">
  <div class="flex flex-wrap pb-6 text-left">

    <div class="mb-3 w-full p-6 md:w-1/2">
      <h2 class="mb-2 text-xl font-bold text-shubox-dark-purple">Immediate Setup</h2>
      <p class="mt-0 text-base text-shubox-silver">
        Pick your plan. Choose your region. Choose public or private files. Create your bucket. Secret and key ready to go.
        Connect in seconds.
      </p>
    </div>

    <div class="mb-3 w-full p-6 md:w-1/2">
      <h2 class="mb-2 text-xl font-bold text-shubox-dark-purple">Direct Uploads</h2>
      <p class="mt-0 text-base text-shubox-silver">From the web, to your bucket. Handle user-supplied files in your web app with our open-source JavaScript SDK. We've done the hard work for you.</p>
    </div>

    <div class="mb-3 w-full p-6 md:w-1/2">
      <h2 class="mb-2 text-xl font-bold text-shubox-dark-purple">Credential Rotation</h2>
      <p class="mt-0 text-base text-shubox-silver">Keep your bucket secure with keys and secrets that rotate every 90 days, <strong>or</strong> when you need to.</p>
    </div>

    <div class="mb-3 w-full p-6 md:w-1/2">
      <h2 class="mb-2 text-xl font-bold text-shubox-dark-purple">Bring Your Own Bucket</h2>
      <p class="mt-0 text-base text-shubox-silver">Have your own bucket? Cool! Set it up in your Shubox dashboard and use all our tools - for free.</p>
    </div>

    <div class="mb-3 w-full p-6 md:w-1/2">
      <h2 class="mb-2 text-xl font-bold text-shubox-dark-purple">Webcam (Photo &amp; Video) Support</h2>
      <p class="mt-0 text-base text-shubox-silver">Our JS SDK will allow you to take photos or record videos! The files are immediately stored in your bucket.</p>
    </div>

    <div class="mb-3 w-full p-6 md:w-1/2">
      <h2 class="mb-2 text-xl font-bold text-shubox-dark-purple">Webhooks</h2>
      <p class="mt-0 text-base text-shubox-silver">Shubox can send you detailed information about your uploads: file size, dimensions, orientation, and much more.</p>
    </div>

  </div>
</div>

<div class="mb-0 bg-shubox-dark-purple py-8 text-center">
  <div class="py-10">
    <svg class="mx-auto h-16 w-16">
      <use xlink:href="#quote"></use>
    </svg>

    <p class="p-8 text-center text-lg font-bold leading-6 text-white">
      Shubox is a super easy way to upload files to S3. I love that I didn't have to build in file management into my app and
      I could just focus on what was important to my customers.
    </p>
    <p class="leading-6 text-shubox-purple">
      <strong>Nick Gauthier</strong><br/>
      Founder, <a class="text-shubox-purple" href="https://www.meetspaceapp.com/" rel="noreferrer" target="_blank">MeetSpace</a>
    </p>
  </div>
</div>

<div class="mx-auto max-w-5xl px-4 text-center md:px-8">
  {% include plans.liquid %}
</div>

{% include sign-up.liquid %}

<script>
document
  .querySelector("#nav-menu a[href='/pricing']")
  .addEventListener("click", function(e){
    e.preventDefault()
    document.getElementById('toggle-menu').checked = false;
    window.location.href = "#plans-pricing";
  })
</script>
