// ============================================================
// Features
// ============================================================

.features-block
  
  .feature
    max-width: rem(480)
    margin: 0 auto 20%
    
    svg
      margin-bottom: rem(30)
      width: 100%
      height: rem(250)

    p
      font-size: rem(18)