// ============================================================
// Home Hero
// ============================================================

.home-hero-block
  background: $off-white
  padding-top: 5%

  .headline
    margin-bottom: em(1)

  .intro
    margin-bottom: rem(30)

  img
    margin: 0 auto