// ============================================================
// Home Hero
// ============================================================

.home-hero-block
  padding-top: 5%
  padding-bottom: rem(10)
  // background: $light-purple

  .headline
    margin-bottom: em(1)
    
  .intro
    margin-bottom: 5%
    
  .dome
    height: rem(296)
    margin-top: 10%
    padding-bottom: rem(3)
    width: 100%

    svg
      height: 105%
      max-width: rem(1000)
      padding-bottom: rem(6)
      width: 100%