// ============================================================
// Page Header Block
// ============================================================

.page-header-block
  background: $dark-purple
  padding: 8% 0

  +mq-min(em(800))
    text-align: left
  
  .headline
    color: $white
    margin-bottom: 0