// ============================================================
// Page Header Block
// ============================================================

.page-header-block
  background: $dark-purple
  padding: 8% 0

  +mq-min(em(800))
    text-align: left

  +mq-min(em(1400))
    padding: rem(120) 0

  .headline
    color: $white
    margin-bottom: 0