// ============================================================
// Pricing
// ============================================================

.pricing-block

  .headline    
    margin-bottom: rem(17)
    
  .price
    display: block
    font-size: rem(24)
    color: $red
    line-height: 1.7
    margin-bottom: rem(40)
  
  .per-year
    color: $gray
    display: block
    font-size: rem(16)
  
  .uploader svg
    height: rem(53)
    margin-bottom: rem(21)
    margin-top: rem(6)
    
  .transformer svg
    height: rem(63)
    margin-bottom: rem(17)