// ============================================================
// Pricing
// ============================================================

.pricing-block

  .headline    
    margin-bottom: rem(17)
    
  .price
    display: block
    font-size: rem(24)
    color: $red
    line-height: 1.7
    margin-bottom: rem(30)
  
  .per-year
    color: $gray
    display: block
    font-size: rem(16)
  
  .uploader svg
    height: rem(54)
    margin-bottom: rem(21)
    margin-top: rem(6)
    
  .transformer svg
    height: rem(64)
    margin-bottom: rem(17)
    
  p
    max-width: rem(415)
    margin: 0 auto rem(30)