---
layout: default
---

<div class="c b home-hero-block">
  <h1 class="headline -xlarge">Simple. Fast. Customizable.</h1>
  <p class="intro -large">Upload images from your web app directly to Amazon S3.</p>
  <a href="https://dashboard.shubox.io/sign_up" class="btn -large" id="sign-up-now">Sign up</a>
  <div class="dome">
    <svg><use xlink:href="#dome"></use></svg>
  </div>
</div>


<div class="c b intro-block">
  <h2 class="headline -large">Give Shubox a try.</h2>
  <p class="intro">If you’re not impressed in 30 days, we’ll give you your money back.</p>
</div>

<div class="c b features-block">
  <div class="g -half">
    
    <div class="gi">
      <div class="feature">
        <svg><use xlink:href="#feature-transform"/></use></svg>
        <h2 class="headline -medium">Upload directly to your Amazon S3 bucket.</h2>
        <p>Quickly handle user supplied images in your web app with a completely customizable interface. We do the hard work for you.</p>
      </div>
    </div>

    <div class="gi">
      <div class="feature">
        <svg><use xlink:href="#feature-transform"></use></svg>
        <h2 class="headline -medium">Webhook Endpoints</h2>
        <p>Shubox can send you detailed information about your uploads like, dimensions, orientation, file size and much more.</p>
      </div>
    </div>

    <div class="gi">
      <div class="feature">
        <svg><use xlink:href="#feature-transform"></use></svg>
        <h2 class="headline -medium">Image Transformations</h2>
        <p>Optimized images are key to great performance. Tell Shubox how to transform your images and they'll be processed on upload.</p>
      </div>
    </div>

    <div class="gi">
      <div class="feature">
        <svg><use xlink:href="#feature-orientation"></use></svg>
        <h2 class="headline -medium">Orientation Correction</h2>
        <p>Nothing is more annoying than a flopped photo. Shubox corrects image orientation so you have one less thing to worry about.</p>
      </div>
    </div>

    <div class="gi">
      <div class="feature">
        <svg><use xlink:href="#feature-exif"></use></svg>
        <h2 class="headline -medium">Strip EXIF Data</h2>
        <p>Every photo comes loaded EXIF data that adds size to the file. Shubox strips that away so you only serve the bytes you need to.</p>
      </div>
    </div>

    <div class="gi">
      <div class="feature">
        <svg><use xlink:href="#feature-gif"></use></svg>
        <h2 class="headline -medium">Extract Frames from Animated Gifs</h2>
        <p>Shubox doesn't flatten animated Gifs. Instead it gives you a static keyframe and retains the original in all it's glory.</p>
      </div>
    </div>
    
  </div>
</div>

<div class="b testimonials-block">
  <div class="c">
      <!--
        <p>
          When we needed image uploads for a messaging area on a client site,
          we decided to try out Shubox — just for a month initially. Our
          rationale was: quicker to deliver to client, more time left to spend
          on the unique issues of the app, and less code in our repo, so easier
          to maintain. Our plan was we would migrate away from Shubox when we
          had some feature that they couldn’t provide, or when the price payoff
          didn’t work any more. We just haven’t needed to migrate — judging
          from client satisfaction and developer team happiness, this has been
          a good choice.
        </p>
        <p>
          Tim Diggins<br>
          Founder @ <a href="http://www.red56.co.uk/" target="_blank">Red56</a>
        </p>
       -->
        <svg class="quotemark">
          <use xlink:href="#quote"></use>
        </svg>
        <p class="quote">
          Shubox is a super easy way to upload files to S3. I love that I didn't have to build in file management into my app and I could just focus on what was important to my customers.
        </p>
        <p class="citation">
          <strong>Nick Gauthier</strong>
          Founder, <a href="http://www.meetspaceapp.com/" target="_blank">MeetSpace</a>
        </p>
    </div>
  </div>
</div>


<div class="c b">
  <div class="g -half">

    <div class="gi" id="pricing">
      <h3 class="headline -medium">
        The Uploader<br>
        <span class="title">$50/month | $500/year</span>
      </h3>

      <ul class="plain">
        <li>upload files directly from a web browser to your own Amazon S3 bucket</li>
        <li>HTTP webhook endpoints for upload events</li>
        <li>robust Javascript library enabling custom behavior on your web app</li>
      </ul>
      <a class="btn" href="https://dashboard.shubox.io/sign_up">Sign Up</a>
    </div>

    <div class="gi">
      <h3 class="headline -medium">
        The Transformer<br>
        <span class="title">$199/month | $1999/year</span>
      </h3>

      <ul class="plain">
        <li>everything from the Uploader plan</li>
        <li>resize images</li>
        <li>orientation correction</li>
        <li>strip EXIF data</li>
        <li>extract frame from animated gifs</li>
        <li>HTTP webhooks for upload and image transformation events</li>
        <li>email support</li>
      </ul>
      <a class="btn" href="https://dashboard.shubox.io/sign_up">Sign Up</a>
    </div>

  </div>
</div>

<hr class="wire-break b">

<div class="c b">
  <h2 class="headline -large">Give Shubox a try.</h2>
  <a href="https://dashboard.shubox.io/sign_up" class="btn">Sign up now</a>
</div>

<hr class="wire-break b">