<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <script src="https://use.typekit.net/uma1wda.js"></script>
    <script>try{ Typekit.load({ async: true  }); }catch(e){}</script>
    <link rel="stylesheet" href="/main.css">
    <script type="text/javascript" src="/js/main.js" defer></script>
  </head>

  <body>

    <header class="bg-near-white pv3">
      <div class="{% include tachyons-container.liquid %} flex items-baseline">
        <a href="/library" class="mr1"><h1 class="f5 b">Shubox Style Guide /</h1></a>
        <span class="f5 gray">{{ page.title }}</span>
      </div>
    </header>

    {{ content }}

  </body>
</html>
