---
layout: default
---
<article>
  <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <h3 class="date">{{ page.date | date_to_string }}</h3>

  {{ content }}

  <form action="//shubox.us12.list-manage.com/subscribe/post?u=a3a4a889a5f3ff0320a62c23b&amp;id=12b17c8654"
      method="post" id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form" class="validate shubox-signup"
      target="_blank" novalidate>

    <h4>
      I'm working on something called
      <a href="https://shubox.io?utm_source=joeloliveira&utm_medium=web&utm_campaign=sister_app">shubox.io</a>!
    </h4>

    <p>
      Want to know more about it? (Answer: "Yes. I do")<br>
      <a href="https://shubox.io?utm_source=joeloliveira&utm_medium=web&utm_campaign=sister_app">Check it</a>
      out or sign up for my newsletter to recieve news, <br>
      announcements and other good bits!
    </p>

    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group input">
        <label for="mce-EMAIL">your email address</label>
        <input type="email" value="" name="EMAIL"
          class="required email" required="true" id="mce-EMAIL"
          placeholder="example@email.com">
        <input type="submit" value="subscribe" name="subscribe"
          id="mc-embedded-subscribe" class="button">
      </div>

      <div id="mce-responses">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_a3a4a889a5f3ff0320a62c23b_12b17c8654"
          tabindex="-1" value="">
      </div>
    </div>
  </form>
</article>

<footer>
  <img src="/images/joel.png">

  Have feedback? I can be found on twitter at <a href="http://twitter.com/jayroh">@jayroh</a>.<br>
  You should follow me over there.
</footer>
