// ============================================================
// Homepage
// ============================================================

.home-hero
  height: 355px
  width: 625px
  margin: auto
  position: relative

  &-base
    width: 100%
    height: 100%

.icons-paths
  width: 100%
  height: 230px
  position: absolute
  top: 40px

  svg
    position: absolute

  .photo
    z-index: 100

  .home-hero-photo-left
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 50%

    .photo
      width: 4.5rem
      height: 4.5rem
      right: 100px
      top: 110px
      transform: rotate(-29deg)
      transition: .1s ease-in-out

      &:hover
        transform: rotate(-20deg) scale(1.1)
        cursor: pointer

    .path
      width: 5.5rem
      height: 5.5rem
      top: 122px
      z-index: 1
      right: 8px

  .home-hero-profile-center
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 50%

    .profile
      width: 4rem
      height: 4rem
      right: 90px
      top: 21px
      transition: .1s ease-in-out

      &:hover
        transform: rotate(-15deg) scale(1.1)
        cursor: pointer

    .path
      width: 5rem
      height: 5rem
      top: 65px
      right: 10px
      z-index: 1

  .home-hero-photo-center
    position: absolute
    right: 0
    top: 0
    height: 100%
    width: 50%

    .photo
      width: 4.5rem
      height: 4.5rem
      left: 73px
      top: 84px
      transform: rotate(-23deg)
      transition: .1s ease-in-out

      &:hover
        transform: rotate(-15deg) scale(1.1)
        cursor: pointer

    .path
      width: 9rem
      height: 9rem
      top: 72px
      z-index: 1
      left: -29px

  .home-hero-photo-right
    position: absolute
    right: 0
    top: 0
    height: 100%
    width: 50%

    .photo
      width: 4.5rem
      height: 4.5rem
      left: 190px
      top: 85px
      transform: rotate(58deg)
      transition: .1s ease-in-out

      &:hover
        transform: rotate(63deg) scale(1.1)
        cursor: pointer

    .path
      width: 11rem
      height: 11rem
      top: 36px
      z-index: 1
      left: 28px

  .home-hero-photo-left--path
    width: 3rem
    height: 3rem

  .home-hero-photo-right--path
    width: 3rem
    height: 3rem

  .home-hero-photo-right--path
    width: 3rem
    height: 3rem

.home-hero-bucket
  width: 200px
  height: 124px
  position: absolute
  left: 50%
  transform: translateX(-50%)
  bottom: 0
  overflow: hidden

  &--top
    left: 0
    position: absolute
    top: 0
    height: 42px
    width: 200px

  &--bottom
    left: 0
    position: absolute
    bottom: -3px
    height: 107px
    width: 200px
