// ============================================================
// Layout with Subnav
// ============================================================

.layout-subnav
  $breakpoint: em(800)
  // align-items: baseline

  > .gi

    +mq-min($breakpoint)

      &:first-child
        +grid-item(3, 1)
        order: 1

      &:last-child
        +grid-item(3, 2)
        display: block !important
        order: 2
        text-align: left

        .b
          text-align: left
    
  #sticky
    
    +mq-min(em(800))
      display: block
      overflow: scroll
      margin: rem(20) rem(30) 0 0
      max-height: 100vh
      
  .subnav
    
    .nav-group
      border-top: 3px solid $dark-purple
      
      &:last-of-type
        border-bottom: 3px solid $dark-purple
      
    .headline
      font-size: rem(17)
      margin-bottom: 0
      padding: rem(10) 0
      
  .nav-links
    display: none
    padding-top: rem(16)
    padding-left: rem(12)
    
    +mq-min(em(800))
      display: block