// ============================================================
// Library
// ============================================================

.library
  background: $white
  .g.nav
    display: block

    +mq-min(em(1000))
      display: flex
      flex-flow: row wrap
      min-height: 100vh


    > .gi
      margin: 0

      &:first-child
        flex: 0 0 rem(240)
        padding: $page-margin $page-margin*2
        background: $off-white

      &:last-child
        flex: 1

        .c
          padding: $page-margin $page-margin * 2


  .active
    text-decoration: line-through


// ============================================================
// Neue Styles
// ============================================================

.neue-login
  align-items: center
  display: flex
  justify-content: center
  padding: rem(200)
  text-align: center

  img
    margin-bottom: rem(30)

  input[type="text"],
  input[type="password"]
    margin-bottom: rem(20)
    width: 100%

  input[type="submit"]
    color: $link-color
    font-size: rem(20)

.neue-title
  font-size: rem(45)
  line-height: 1

.neue-intro
  margin-bottom: rem(100)
  padding-top: rem(100)

.neue-section
  margin: 0 0 rem(80)

  .plain
    margin-bottom: 0

.neue-header
  border-bottom: rem(3) solid $dark-gray
  margin: rem(50) 0 rem(10)
  padding: rem(6) 0

  &.g
    align-items: baseline

  .gi

    +mq-min(em(700))

      &:first-child
        +grid-item(3,1)
        margin-bottom: 0

      &:last-child
        +grid-item(3,2)
        margin-bottom: 0

.neue-grids

  .gi
    background: $light-red
    display: flex
    flex-flow: row wrap
    justify-content: center
    padding: rem(8)

  .neue-style
    border-bottom: none
    padding-bottom: rem(15)

.neue-style
  align-items: flex-start
  border-bottom: rem(1) solid $light-gray
  margin-top: rem(30)
  padding-bottom: rem(30)

  .gi

    +mq-min(em(700))

      &:first-child
        +grid-item(3,1)
        margin-bottom: 0

      &:last-child
        +grid-item(3,2)
        margin-bottom: 0


// ------------------------------------------------------------
// Colors
// ------------------------------------------------------------

.neue-colors

  code
    display: block
    background: none

  .color
    font-family: $sans-serif
    padding: rem(30)

  .-white
    background: $white
    border: rem(1) solid $light-gray
    color: $dark-gray

  .-off-white
    background: $off-white
    border: rem(1) solid $light-gray
    color: $dark-gray

  .-light-gray
    background: $light-gray
    color: $white

  .-medium-gray
    background: $medium-gray
    color: $white

  .-gray
    background: $gray
    color: $white

  .-dark-gray
    background: $dark-gray
    color: $white

  .-blue
    background: $blue
    color: $white

  .-dark-blue
    background: $dark-blue
    color: $white

  .-red
    background: $red
    color: $white

  .-light-red
    background: $light-red
    color: $dark-gray

  .-pink
    background: $pink
    color: $white

  .-purple
    background: $purple
    color: $white

  .-green
    background: $green
    color: $white

  .-light-green
    background: $light-green
    color: $dark-gray

  .-orange
    background: $orange
    color: $white

  .-yellow
    background: $yellow
    color: $dark-gray

  .-light-yellow
    background: $light-yellow
    color: $dark-gray
