<h2 class="text-3xl md:text-4xl leading-5 font-bold text-shubox-dark-purple ph-6 center mt-16 mb-8 text-center">
  Plan Pricing
</h2>

<ul class="flex-column md:flex md:flex-row justify-center list-none p-0 m-0">
  <li id="self-hosted" class="w-full md:w-1/3 text-center p-4 mb-8">
    <h3 class="text-2xl font-bold text-shubox-dark-purple mt-0 mb-4">Self-hosted</h3>
    <span class="text-lg font-bold text-shubox-red block mb-2">$0/month</span>

    <ul class="list-none pl-0 my-4 text-left">
      <li class="px-3 py-4 border-1 border-y border-shubox-light-gray">
        <strong>No</strong> Storage Limits<br>
        <strong>No</strong> Data Transfer Limit
      </li>
      <li class="px-3 py-4 border-1 border-b border-shubox-light-gray">One domain per bucket</li>
    </ul>
  </li>

  <li id="mini" class="w-full md:w-1/3 text-center p-4 mb-8">
    <h3 class="text-2xl font-bold text-shubox-dark-purple mt-0 mb-4">Mini</h3>
    <span class="text-lg font-bold text-shubox-red block mb-2"><strong>$5/month</strong></span>

    <ul class="list-none pl-0 my-4 text-left">
      <li class="px-3 py-4 border-1 border-y border-shubox-light-gray">
        <strong>5GB</strong> Storage Limit<br>
        <strong>5GB/month</strong> Data Transfer Limit
      </li>
      <li class="px-3 py-4 border-1 border-b border-shubox-light-gray">Multiple domains supported</li>
    </ul>
  </li>

  <li id="standard" class="w-full md:w-1/3 text-center p-4 mb-8">
    <h3 class="text-2xl font-bold text-shubox-dark-purple mt-0 mb-4">Standard</h3>
    <span class="text-lg font-bold text-shubox-red block mb-2"><strong>$15/month</strong></span>

    <ul class="list-none pl-0 my-4 text-left">
      <li class="px-3 py-4 border-1 border-y border-shubox-light-gray">
        <strong>15GB</strong> Storage Limit<br>
        <strong>10GB/month</strong> Data Transfer Limit
      </li>
      <li class="px-3 py-4 border-1 border-b border-shubox-light-gray">Multiple domains supported</li>
    </ul>
  </li>
</ul>
