<h2 class="f3 f2-ns lh-title b dark-purple ph-6 mw6-ns center mt5 mb4 tc">Plan Pricing</h2>

<ul id="plans-pricing" class="flex-column flex-ns flex-row-ns justify-center list pa0 ma0">
  <li class="whats-up plan w-100 w-33-ns tc pa3 mb4">
    <h3 class="f3 b dark-purple mt0 mb3">Self-hosted</h3>
    <span class="f3 red db mb2">$0/month</span>

    <ul class="plan--details list pl0 mv3 tl">
      <li class="ph2 pv3 bt bb b--light-gray">
        <strong>No</strong> Storage Limits<br>
        <strong>No</strong> Data Transfer Limit
      </li>
      <li class="ph2 pv3 bb b--light-gray">One domain per bucket</li>
    </ul>
  </li>

  <li class="uptick plan w-100 w-33-ns tc pa3 mb4">
    <h3 class="f3 b dark-purple mt0 mb3">Mini</h3>
    <span class="f3 red db mb2"><strong>$5/month</strong></span>

    <ul class="plan--details list pl0 mv3 tl">
      <li class="ph2 pv3 bt bb b--light-gray">
        <strong>5GB</strong> Storage Limit<br>
        <strong>5GB/month</strong> Data Transfer Limit
      </li>
      <li class="ph2 pv3 bb b--light-gray">Multiple domains supported</li>
    </ul>
  </li>

  <li class="up-up-away plan w-100 w-33-ns tc pa3 mb4">
    <h3 class="f3 b dark-purple mt0 mb3">Standard</h3>
    <span class="f3 red db mb2"><strong>$15/month</strong></span>

    <ul class="plan--details list pl0 mv3 tl">
      <li class="ph2 pv3 bt bb b--light-gray">
        <strong>15GB</strong> Storage Limit<br>
        <strong>10GB/month</strong> Data Transfer Limit
      </li>
      <li class="ph2 pv3 bb b--light-gray">Multiple domains supported</li>
    </ul>
  </li>
</ul>