<div class="bg-shubox-light-purple">
  <div class="px-10 py-20 text-center mx-auto">
    <h2 class="text-2xl md:text-4xl leading-5 font-bold text-shubox-dark-purple text-center mb-8">
      Give Shubox a try.
    </h2>
    <p class="text-base md:text-xl text-left max-w-sm mx-auto text-shubox-purple text-center mb-8">
      Sign up for your <strong><em>free</em></strong> account now. We think you'll love it.
    </p>
    <a href="https://dashboard.shubox.io/sign_up" class="inline-block rounded-full border-4 border-shubox-red px-10 py-3 font-bold text-shubox-red hover:bg-shubox-red hover:text-white">Sign Up</a>
  </div>
</div>
