---
layout: default
title: Plans & Pricing
---

{% include page-header.liquid title='Plans &amp; Pricing' %}

<div class="{% include tachyons-container.liquid %}">
  {% include plans.liquid %}

  <p class="mv4 lh-copy pa4 bg-light-gray gray" id="event-credit">
    <strong class="red">*</strong> <em>What is an "event credit"?</em><br>
    1. Each uploaded file counts as one credit.<br>
    2. Processors used in image transforms each count as one credit. EG: A transform
    with 3 image resizes count as 3 credits every time an image is uploaded and
    run through that transform queue.
  </p>
</div>
