
// Converted Variables
@import 'https://fonts.googleapis.com/css?family=Anonymous+Pro:500,500i,700,700i';
$sans-serif: sofia-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;
$monospace: "Anonymous Pro", monospace;

// Custom Media Query Variables


/*

  STYLES

  Add custom styles here.

*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $sans-serif;
}

a {
  color: $red;
  text-decoration: none;
  outline: 0;

  &:hover,
  &:focus {  
    color: darken($red, 10%);
  }
}

.subnav {
  #sticky {
    @media (min-width: 800/16em) {
      display: block;
      overflow: hidden;
      margin: 20px 30px 0 0;
      max-height: 100vh;
    }
  }
  
  .arrow {  
    height: 22px;
    width: 22px;
    transform: rotate(180deg);
            
    @media (min-width: 50em) {
      transform: rotate(0deg) !important;
    }
  }
  
  .rotate-arrow > .arrow {
    transform: rotate(0deg);
    
    @media (min-width: 50em) {
      transform: rotate(180deg) !important;
    }
  }  
}

pre {
  max-width: 100%;
  overflow: auto;
  border: 1px solid $light-gray;
}

// Logos

.logo svg {
  fill: $red;
  height: 25px;
  width: 106px;
}

.logo-mark {  
  width: 65px;
  height: 40px;
  margin-top: 4px;
}

// Pricing Block

.uploader svg {
  height: 54px;
  margin-bottom: 21px;
  margin-top: 6px;
}

.transformer svg {
  height: 64px;
  margin-bottom: 17px;  
}

// Docs

.shadow img {
  border-radius: 2px;
  box-shadow: 0 1px 3px $light-gray;
}


  // .nav-header
  //   align-items: center
  //   cursor: pointer
  //   display: flex
  //   justify-content: space-between
  // 


  
