
// Converted Variables

// Custom Media Query Variables


/*

STYLES

Add custom styles here.

 */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $sans-serif;
}

a {
  color: $red;
  text-decoration: none;
  outline: 0;

  &:hover,
  &:focus {
    color: darken($red, 10%);
  }
}

.subnav {
  nav.stuck {
    @media (min-width: 60em) {
      position: fixed;
      top: 0px;
    }
  }

  .arrow {
    height: 22px;
    width: 22px;
    transform: rotate(180deg);

    @media (min-width: 50em) {
      transform: rotate(0deg) !important;
    }
  }

  .rotate-arrow > .arrow {
    transform: rotate(0deg);

    @media (min-width: 50em) {
      transform: rotate(180deg) !important;
    }
  }
}

pre {
  max-width: 100%;
  overflow: auto;
  border: 1px solid $light-gray;
}

// Logos

.logo svg {
  fill: $red;
  height: 25px;
  width: 106px;
}

.logo-mark {
  width: 65px;
  height: 40px;
  margin-top: 4px;
}

.twitter--small {
  width: 25px;
  height: 25px;
}

// Pricing Block

.uploader svg {
  height: 70px;
  margin-bottom: 26px;
  margin-top: 6px;
}

.transformer svg {
  height: 85px;
  margin-bottom: 17px;
}

// Docs

.shadow img {
  border-radius: 4px;
  border: 1px solid $light-gray;
  box-shadow: 0px 0px 20px $light-gray;
}

.shadow {
  width: 100%;
  margin: 0;
}
