---
layout: default
---

<div class="mb6 blog-post">
  <div class="measure-wide pt6 overflow-hidden">
    <h1 class="f2 f1-ns b dark-purple leading-5">
      {{ page.title }}
    </h1>

    {% if page.guest_bio %}
      <div id="guest-post" class="w-100 mt4 mb4 pa3 lh-copy bg-light-gray gray">
        {{ page.guest_bio | markdownify | remove: '<p>' | remove: '</p>' }}
      </div>
    {% endif %}

    {% if site.production != "true" %}
    <div id="upload" class="lh-copy">
      Click or drag and drop to upload your image
    </div>
    {% endif %}

    <div class="nested-copy-line-height
      nested-headline-line-height
      nested-img
      nested-copy-colors">
      {{ content }}
    </div>

    <footer class="w-100 mt5 pa3 bg-light-purple flex">
      <svg class="lh-copy twitter--small mr2"><use xlink:href="#twitter"></use></svg>

      <span class="lh-copy">
        Follow us, or let us know what you think, on Twitter at
        <a href="https://twitter.com/shuboxio" target="_blank">@shuboxio</a>
      </span>
    </footer>
  </div>
</div>

<script type="text/javascript" src="/js/highlight.js" async defer></script>
