<div class="cta-block b">
  <div class="c">
    
    <h2 class="headline -medium">Give Shubox a try.</h2>
    
    <p class="intro">If you’re not impressed in 30 days, we’ll give you your money back.</p>
    
    <a href="https://dashboard.shubox.io/sign_up" class="btn">Sign up now</a>
    
  </div>
</div>