<footer class="bg-near-white pt5 pb6 lh-title tc tl-ns">
  <div class="{% include tachyons-container.liquid %}">
    <div class="flex-ns justify-between">

      <div class="inline-flex-ns mr4-ns">
        <a href="/" class="mr4-ns mb4 db">
          <svg class="logo-mark">
            <title>Shubox Home</title>
            <use xlink:href="#logo-mark"></use>
          </svg>
        </a>
        <div class="db">
          <h3 class="f5 purple mt0 mb2">Contact</h3>
          <a class="silver" href="mailto:team@shubox.io">team@shubox.io</a>

          <h3 class="f5 purple pt1 pt0-ns mt4 mb2">Legal</h3>
          <a class="silver" href="/privacy-policy">Privacy Policy</a><br>
          <a class="silver" href="/terms-and-conditions">Terms and Conditions</a>
        </div>
      </div>
  </div>
</footer>