<div class="global-header">
    <div class="c">
        <nav class="g">

            <div class="gi">
            <h1 class="logo">
                <a href="/">
                {% include logo.svg %}
                </a>
            </h1>

            <span>
                <button type="button" id="menu-toggle" class="btn -small -outline" name="menu">Menu</button>
            </span>
            </div><!-- .gi -->

            <div class="gi main-nav">
                <a href="/#pricing">Pricing</a>
                <a href="/docs">Docs</a>
                <a href="/examples">Examples</a>
                <a href="https://dashboard.shubox.io/sign_in">Sign In</a>
            </div>

        </nav>
    </div>
</div>
