<div class="global-header">
  <div class="c">
    <nav class="g">

      <div class="gi">
        <h1 class="logo">
          <a href="/">
            <svg><use xlink:href="#logo"/></svg>
          </a>
        </h1>
      </div>

      <div class="gi main-nav">
        <a href="/#pricing">Pricing</a>
        <a href="/docs">Docs</a>
        <a href="/demos">Demos</a>
        <a href="/blog">Blog</a>
        <a class="highlight" href="https://dashboard.shubox.io/sign_in">Sign In</a>
      </div>

    </nav>
  </div>
</div>