<div class="global-header pv4{% if page.url == '/' %} bg-near-white{% endif %}">
  <div class="{% include tachyons-container.liquid %}">
    <nav class="flex flex-column flex-row-ns items-center items-baseline-ns justify-between-ns">

      <h1 class="logo mt0 mb3 mb0-ns">
        <a href="/">
          <svg><use xlink:href="#logo"/></svg>
        </a>
      </h1>
      
      <div class="main-nav">
        <a href="/#pricing" class="gray mr3">
          Pricing
        </a>
        <a href="/docs" class="gray mr3{% if page.url contains '/docs/' %} dark-purple{% endif %}">
          Docs
        </a>
        <a href="/demos" class="gray mr3{% if page.url contains '/demos/' %} dark-purple{% endif %}">
          Demos
        </a>
        <a href="/blog" class="gray mr3{% if page.url contains '/blog/' %} dark-purple{% endif %}">Blog</a>
        <a class="red" href="https://dashboard.shubox.io/sign_in">
          Sign In
        </a>
      </div>

    </nav>
  </div>
</div>