<header class="bg-dark-purple white
        mb4
        mb5-ns
        mb6-l
        pb3 pt6
        pb4-m pt5-m
        pb5-l pt6-l">
  <div class="{% include tachyons-container.liquid %}">
    <h1 class="f3 f2-m f1-l b">{{ include.title }}</h1>
  </div>
</header>