<ul id="plans-pricing" class="flex-column flex-ns flex-row-ns justify-center list pa0 ma0">
  <li class="whats-up plan w-100 w-33-ns tc pa3 mb4">
    <h3 class="f3 b dark-purple mt0 mb3">That's What's Up</h3>
    <span class="f3 red db mb2">$0/month</span>
    <span class="silver db mb2">$0/year</span>

    <ul class="plan--details list pl0 mv3 tl">
      <li class="ph2 pv3 bt bb b--light-gray">
        <strong>500</strong>
        <a href="/pricing#event-credit" class="bg-light-gray ph1 br2">event credits *</a>
        per month.
      </li>
      <li class="ph2 pv3 bb b--light-gray"><strong>3MB</strong> file size upload limited</li>
      <li class="ph2 pv3 bb b--light-gray">Support for domains you set up with Shubox</li>
    </ul>

    <a href="https://dashboard.shubox.io/sign_up" class="btn tc">Sign Up</a>
  </li>

  <li class="uptick plan w-100 w-33-ns tc pa3 mb4">
    <h3 class="f3 b dark-purple mt0 mb3">The Uptick</h3>
    <span class="f3 red db mb2">$29/month</span>
    <span class="silver">$299/year</span>

    <ul class="plan--details list pl0 mv3 tl">
      <li class="ph2 pv3 bt bb b--light-gray">
        <strong>2,500</strong>
        <a href="/pricing#event-credit" class="bg-light-gray ph1 br2">event credits *</a>
        per month.
      </li>
      <li class="ph2 pv3 bb b--light-gray"><strong>20MB</strong> file size upload limited</li>
      <li class="ph2 pv3 bb b--light-gray">Support for domains you set up with Shubox</li>
    </ul>

    <a href="https://dashboard.shubox.io/sign_up?plan=uptick" class="btn">Purchase Plan</a>
  </li>

  <li class="up-up-away plan w-100 w-33-ns tc pa3 mb4">
    <h3 class="f3 b dark-purple mt0 mb3">The Up-Up &amp; Away</h3>
    <span class="f3 red db mb2">$49/month</span>
    <span class="silver">$499/year</span>

    <ul class="plan--details list pl0 mv3 tl">
      <li class="ph2 pv3 bt bb b--light-gray">
        <strong>10,000</strong>
        <a href="/pricing#event-credit" class="bg-light-gray ph1 br2">event credits *</a>
        per month.
      </li>
      <li class="ph2 pv3 bb b--light-gray"><strong>20MB</strong> file size upload limited</li>
      <li class="ph2 pv3 bb b--light-gray">Support for domains you set up with Shubox</li>
      <li class="ph2 pv3 bb b--light-gray">Early access too all new pro / premium / exclusive / embossed / hologram / polybagged / variant features.</li>
    </ul>

    <a href="https://dashboard.shubox.io/sign_up?plan=up_up_away" class="btn">Purchase Plan</a>
  </li>
</ul>
