<div id="pricing" class="c b pricing-block">
  <div class="g -half">

    <div class="gi uploader">
      <svg><use xlink:href="#plan-upload"></use></svg>
      
      <h3 class="headline -medium">The Uploader</h3>
      
      <span class="price">
        $50/month
        <span class="per-year">$500/year</span>
      </span>
      
      <p class="intro -dark-gray">Upload files from a web browser directly to your own Amazon S3 bucket, define webhooks for upload events, and use our robust JavaScript library to customize your upload experience.</p>
    </div>

    <div class="gi transformer">
      <svg><use xlink:href="#plan-transform"></use></svg>
      
      <h3 class="headline -medium">The Transformer</h3>
      
      <span class="price">
        $199/month
        <span class="per-year">$1999/year</span>
      </span>
      
      <p class="intro -dark-gray">As well as the great features from The Uploader plan, you can configure Shubox to resize images, correct orientation, strip EXIF data, extract frames from animated gifs, and get email support.</p>
    </div>

  </div>
</div>