<div id="pricing" class="pricing-block {% include tachyons-container.liquid %} flex flex-wrap pt5 pt6-ns pb6-m pb5 mw6-m">

  <div class="w-50-l tc mb5 uploader">
    <svg><use xlink:href="#plan-upload"></use></svg>

    <h3 class="f2 b dark-purple mt0 mb3">The Uploader</h3>

    <span class="f3 red db mb2">$49/month</span>
    <span class="silver">$499/year</span>

    <p class="silver lh-copy ph3 mb4">Upload files from a web browser directly to your own Amazon S3 bucket, define webhooks for upload events, and use our robust JavaScript library to customize your upload experience.</p>
  </div>

  <div class="w-50-l tc transformer">
    <svg><use xlink:href="#plan-transform"></use></svg>

    <h3 class="f2 b dark-purple mt0 mb3">The Transformer</h3>

    <span class="f3 red db mb2">$199/month</span>
    <span class="silver">$1999/year</span>

    <p class="silver lh-copy ph3 mb4">All features from The Uploader plan, plus you can configure Shubox to resize images, correct orientation, strip EXIF data, extract frames from animated gifs, and get email support.</p>
  </div>

</div>
