<div class="bg-light-purple">
  <div class="{% include tachyons-container.liquid %} pv5 mw6-m tc">
    <h2 class="f3 f2-ns lh-title b dark-purple ph-6 mw6-ns center mb3">Give Shubox a try.</h2>
    <p class="f5 f4-ns lh-copy purple center measure-narrow mb4">
      Sign up for your <strong><em>free</em></strong> account now. We think
      you'll love it.
    </p>
    <a href="https://dashboard.shubox.io/sign_up" class="btn mb3">Sign Up</a>
  </div>
</div>
