<div class="bg-light-purple">
  <div class="{% include tachyons-container.liquid %} pt5 pt6-ns pb6 mw6-m tc">
    <h2 class="f3 f2-ns lh-title b dark-purple ph-6 mw6-ns center mb3">Headline</h2>
    <p class="f5 f4-ns lh-copy purple center measure-narrow mb5">Compelling words go here...</p>
    <a href="https://dashboard.shubox.io/sign_up" class="btn">Sign Up</a>
  </div>
</div>